* {
  box-sizing: border-box;
}

:root {
  --n: 1;
}

body {
  --h: 212deg;
  --l: 43%;
  --brandcolor: hsl(var(--h), var(--l));
  font-family: Montserrat, sans-serif;
  margin: 0;
  background-color: whitesmoke;
}

p {
  margin: 0;
  line-height: 1.6;
  /* font-size 的 1.6倍 */
}

ol {
  list-style: none;
  padding: 0 1rem;
  /* top/bottom right/left */
  counter-reset: List; /* 初始化计数器 */
}

li {
  --stop: calc(100% / var(--length) * var(--i));
  --l: 62%;
  --l2: 88%;
  --h: calc((var(--i) - 1) * (180 / var(--length)));
  --c1: hsl(var(--h), 71%, var(--l));
  --c2: hsl(var(--h), 71%, var(--l2));

  position: relative;
  counter-increment: list; /* li每出现一次，计数器递增1 */
  max-width: 45rem;
  margin: 2rem auto; /* 一个值是上下，第二个值是左右，设auto会居中 */
  padding: 2rem 1rem 1rem; /* 值分别是上，左右，下 */
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
}
