* {
  box-sizing: border-box;
}

:root {
  --n: 1;
}

body {
  --h: 212deg;
  --l: 43%;
  --brandcolor: hsl(var(--h), var(--l));
  font-family: Montserrat, sans-serif;
  margin: 0;
  background-color: whitesmoke;
}

p {
  margin: 0;
  line-height: 1.6;
  /* font-size 的 1.6倍 */
}

ol {
  list-style: none;
  padding: 0 1rem;
  /* top/bottom right/left */
  counter-reset: List; /* 初始化一个名为 List 的计数器，并将其值重置为 0 */
}

li {
  --stop: calc(100% / var(--length) * var(--i));
  --l: 62%;
  --l2: 88%;
  --h: calc((var(--i) - 1) * (180 / var(--length)));
  --c1: hsl(var(--h), 71%, var(--l));
  --c2: hsl(var(--h), 71%, var(--l2));

  position: relative;
  counter-increment: list; /* 每当遇到一个 <li> 元素，计数器 List 的值会增加 1 */
  max-width: 45rem;
  margin: 2rem auto; /* 一个值是上下，第二个值是左右，设auto会居中 */
  padding: 2rem 1rem 1rem; /* 值分别是上，左右，下 */
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
}

li::before {
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    var(--c1) var(--stop),
    var(--c2) var(--stop)
  );
}

h3 {
  display: flex;
  align-items: baseline;
  margin: 0 0 1rem;
  color: rgb(70, 70, 70);
}

h3::before {
  content: counter(list); /* 在每个 <h3> 元素的前面，显示当前计数器 List 的值 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  
  padding: 1rem;
  border-radius: 50%; /* 形成一个圆 */
  background-color: var(--c1);
  color: white;
}

@media (min-width: 40em) {
  li {
    margin: 3rem auto;
    padding: 3rem 2rem 2rem;
  }

  h3 {
    font-size: 2.25rem;
    margin: 0 0 2rem;
  }

  h3::before {
    margin-right: 1.5rem;
  }
}
