* {
  box-sizing: border-box;
}

:root {
  --n: 1;
}

body {
  --h: 212deg;
  --l: 43%;
  --brandcolor: hsl(var(--h), var(--l));
  font-family: Montserrat, sans-serif;
  margin: 0;
  background-color: whitesmoke;
}

p {
  line-height: 1.6;
  /* font-size 的 1.6倍 */
}

ol {
  list-style: none;
  padding: 0 1rem;
  /* top/bottom right/left */
  counter-reset: List;
}

li {
  --stop: calc(100% / var(--length) * var(--i));
}
